bin/**
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
tsconfig.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
internals/**
webpack.config.js
files/**

node_modules/**
!node_modules/cacheable_request
